@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>
    
    @RenderSection("styles", required: false)
    
    @Scripts.Render("~/scripts/modernizr")

</head>
<body>
    layout başı
    
    @RenderBody()
    
    layout sonu!

    @Scripts.Render("~/scripts/baselibs")

    @RenderSection("scripts", required: false)

</body>
</html>
