@{
    ViewBag.Title = "Taskever - A free social network for task management!";
}
<div id="wrap">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Taskever</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <section class="col-md-8 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Taskever - A free social network for task management!</h1>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-4 col-xs-12 text-center">
                            <img src="~/Images/home/manage_tasks.png" style="width: 64px; height: 64px" alt="Manage tasks" />
                            <h2>Tasks</h2>
                            <p>Create and manage your private and business tasks</p>
                        </div>
                        <div class="col-sm-4 col-xs-12 text-center">
                            <img src="~/Images/home/friends.png" style="width: 64px; height: 64px" alt="Find your friends" />
                            <h2>Friendships</h2>
                            <p>Find your friends, assign tasks to and see tasks of your friends</p>
                        </div>
                        <div class="col-sm-4 col-xs-12 text-center">
                            <img src="~/Images/home/see_activities.png" style="width: 64px; height: 64px" alt="See activities" />
                            <h2>Activities</h2>
                            <p>See activities of your friends and follow interested tasks</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default hidden-xs">
                    <div class="panel-heading">
                        <h4 class="panel-title">Some screenshots from the application</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-2 col-xs-12"><a class="taskever-screen-preview-image" rel="screenshots" href="~/Images/home/screens/01-overall.png"><img class="img-thumbnail img-responsive" style="max-height: 160px;" src="~/Images/home/screens/01-overall.png" alt="Overall view"/></a></div>
                        <div class="col-sm-2 col-xs-12"><a class="taskever-screen-preview-image" rel="screenshots" href="~/Images/home/screens/02-overall.png"><img class="img-thumbnail img-responsive" style="max-height: 160px;" src="~/Images/home/screens/02-overall.png" alt="Overall view"/></a></div>
                        <div class="col-sm-2 col-xs-12"><a class="taskever-screen-preview-image" rel="screenshots" href="~/Images/home/screens/03-friends.png"><img class="img-thumbnail img-responsive" style="max-height: 160px;" src="~/Images/home/screens/03-friends.png" alt="Overall view"/></a></div>
                        <div class="col-sm-2 col-xs-12"><a class="taskever-screen-preview-image" rel="screenshots" href="~/Images/home/screens/06-profile-tasks.png"><img class="img-thumbnail img-responsive" style="max-height: 160px;" src="~/Images/home/screens/06-profile-tasks.png" alt="Overall view"/></a></div>
                        <div class="col-sm-2 col-xs-12"><a class="taskever-screen-preview-image" rel="screenshots" href="~/Images/home/screens/05-task-edit.png"><img class="img-thumbnail img-responsive" style="max-height: 160px;" src="~/Images/home/screens/05-task-edit.png" alt="Overall view"/></a></div>
                        <div class="col-sm-2 col-xs-12"><a class="taskever-screen-preview-image" rel="screenshots" href="~/Images/home/screens/04-create-task.png"><img class="img-thumbnail img-responsive" style="max-height: 160px;" src="~/Images/home/screens/04-create-task.png" alt="Overall view"/></a></div>
                    </div>
                </div>
            </section>

            <section class="col-md-4 col-sm-12">

                @Html.Partial("_LoginPanel")

                @Html.Partial("_RegisterPanel")

            </section>

        </div>
    </div>
</div>

@Html.Partial("_Footer")

@section styles
{
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script src="~/Scripts/require.js" data-main="@(ApplicationPath)ViewResources/main.js"></script>
    <script>
        require(['@(ApplicationPath)ViewResources/Account/Login.js']);
        //require(['/Widgets/LoginBox/LoginBox.js']);
    </script>
}
