<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name="keywords" content="task,task management,social network">
    <meta name="description" content="A free social network for task management">
    <meta name="author" content="Halil İbrahim Kalkan">

    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-startup-image" href="~/Content/images/ios-startup-image-landscape.png" media="(orientation:landscape)" />
    <link rel="apple-touch-startup-image" href="~/Content/images/ios-startup-image-portrait.png" media="(orientation:portrait)" />
    <link rel="apple-touch-icon" href="~/Content/images/icon.png" />

    <title>@ViewBag.Title</title>
    
    <script>
    //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
    var abp = abp || {};
    abp.appPath = '@ApplicationPath';
    </script>

    @Styles.Render("~/styles/basestyles")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="@Url.Content("~/Scripts/libs/html5shiv.js")"></script>
      <script src="@Url.Content("~/Scripts/libs/respond.min.js")"></script>
    <![endif]-->

    @RenderSection("styles", required: false)    

    @Html.IncludeScript("~/Abp/Framework/scripts/utils/ie10fix.js")
    @Scripts.Render("~/scripts/modernizr")
</head>
<body>
    @RenderBody()
    
    @Scripts.Render("~/scripts/baselibs")

    <script src="~/Scripts/libs/spinjs/spin.js"></script>
    <!-- TODO: Add to base libs! -->
    <script src="~/Scripts/libs/spinjs/jquery.spin.js"></script>

    @Scripts.Render("~/scripts/abp")
    @Scripts.Render("~/scripts/taskever")
    <script src="~/AbpLocalization/GetScripts" type="text/javascript"></script>
    <script src="~/AbpAuthorization/GetScripts" type="text/javascript"></script>
    <script src="~/AbpSettings/GetScripts" type="text/javascript"></script>
    <!-- TODO: Find a better way! -->
    @RenderSection("scripts", required: false)
    
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22169554-4']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    
    @Html.IncludeScript("~/Taskever/Er/Test/js/TestScript.js")

</body>
</html>
